<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<h1>Home#index</h1>

<h2>An embedded workflow</h2>
<div>
  <iframe src="<%= new_embedded_run_url(3) %>&input[input]=10" width="100%" height="500px"></iframe>
</div>
