<div id="run-button">
  <% if run.finished? %>
    <%= link_to 'Restart', new_run_path(:workflow_id => run.workflow_id,
      :embedded => true) %>
  <% else %>
    <%= link_to "Cancel", cancel_run_path(run.id), :method => :put, :data => { confirm: "Are you sure?" } %>
  <% end %>
</div>
