
<div id="run-poll">
  <script type="text/javascript">
    var finished = <%= run.finished? || run.cancelled? %>
    var poll_interval = <%= TavernaPlayer.server_poll_interval * 2000 %>

    $(document).ready(
      function() {
        if (!finished) {
          window.setTimeout("poll_run()", poll_interval)
        }
      }
    );

    function poll_run() {
      $.get("<%= run_path(run) %>", null, null, "script")
    }
  </script>
</div>
